 <div class="container">
      <h1>Welcome to Stream Search</h1>
      <form>
        <div class="form-group">
          <input type="text" id="inputValue">
        </div>

        <button type="submit" id="search">
          Search a movie </button>
      </form>

    </div>

<script src="assets/js/script.js"></script>    