 <div class="container">
    <header>
      <h1>Welcome to Movie Mania </h1>
      <p>In todays world of endless options of sreaming services, it may seem almost impossible to orginize what
        programs are on what service. Stream Search is designed to help maximze efficency in navigating multiple 
        services.
      </p>
    </header>

      <div class="logo" id = "logo"></div>
      
    
      
        <div class="container">
      <h1>What Is Your Favorite Genre Of Movies?</h1>

      <div class="group">
        <input type="checkbox" id="romance">
        <label for="romance">Romance</label>
      </div>

      <div class="group">
        <input type="checkbox" id="action" />
        <label for="action">Action</label>
      </div>

      <div class="group">
        <input type="checkbox" id="drama" />
        <label for="drama">Drama</label>
      </div>

      <div class="group">
        <input type="checkbox" id="comedy" />
        <label for="comedy">Comedy</label>
      </div>

      <div class="group">
        <input type="checkbox" id="sciencef" />
        <label for="sciencef">Science Fiction</label>
      </div>

      <div class="group">
        <input type="checkbox" id="documentary" />
        <label for="documentary">Documentary</label>
      </div>

      <div class="group">
        <input type="checkbox" id="anime" />
        <label for="anime">Anime</label>
      </div>
    </div>

        <div class="box">
          <input type="text" class="input" id="inputValue" placeholder="Search Movies...">
          <button type="submit" id="search" class = "searchButton">
            <i class="material-icons">search</i>
            
            
          </button>
        </div>
      </form>

    </div>

    <div id = "movie-search"></div>
    <div id = "movie-container"></div>    
     </div>
    
<script src="assets/js/api.js"></script>
<script src="assets/js/script.js"></script>    