 <div class="container">
    <header>
      <h1>Welcome to Movie Mania </h1>
      <p>In todays world of endless options of sreaming services, it may seem almost impossible to orginize what
        programs are on what service. Stream Search is designed to help maximze efficency in navigating multiple 
        services.
      </p>
    </header>
    
      <form>
        <div class="form-group">

          <div class="selection row">

            <div class="preference-select col-md-6">

              <p>What are your genre preferences?</p>

              <div class="pref">
                <label for="romance">Romance</label>
                <input type="checkbox" id="romance" checked>
              </div>

              <div class="pref">
                <label for="action">Action</label>
                <input type="checkbox" id="action" checked>
              </div>

              <div class="pref">
                <label for="drama">Drama</label>
                <input type="checkbox" id="drama" checked>
              </div>

              <div class="pref">
                <label for="comedy">Comedy</label>
                <input type="checkbox" id="comedy" checked>
              </div>

              <div class="pref">
                <label for="science-fiction">Science Fiction</label>
                <input type="checkbox" id="science-fiction" checked>
              </div>

              <div class="pref">
                <label for="documentay">Documentary</label>
                <input type="checkbox" id="documentary" checked>
              </div>

              <div class="pref">
                <label for="anime">Anime</label>
                <input type="checkbox" id="anime" checked>
              </div>
            </div>

            <div class="user-services col-md-6">
              <p>What streaming services do you have?</p>
              <div class="service">
                <label for="netflix">Netflix</label>
                <input type="checkbox" id="netflix" checked>
              </div>

              <div class="service">
                <label for="prime">Amazon Prime</label>
                <input type="checkbox" id="prime" checked>
              </div>

              <div class="service">
                <label for="disney">Disney+</label>
                <input type="checkbox" id="disney" checked>
              </div>

              <div class="service">
                <label for="hbo">HBO Max</label>
                <input type="checkbox" id="hbo" checked>
              </div>

              <div class="service">
                <label for="hulu">Hulu</label>
                <input type="checkbox" id="hulu" checked>
              </div>            

              <div class="service">
                <label for="peacock">Peacock</label>
                <input type="checkbox" id="peacock" checked>
              </div>
            </div>            
          </div>
        </div>

        <div class="input-box row">
          <input type="text" id="inputValue" class="col-md-6">
          <button type="submit" id="search" class="col-md-6">Search a movie</button>
        </div>
      </form>

    </div>

    <div id = "movie-search"></div>
    <div id = "movie-container"></div>    
     </div>
    
<script src="assets/js/api.js"></script>
<script src="assets/js/script.js"></script>    