<div class = "container">
    <h1> Search Movies and TV Shows </h1>

    <form>
        <div class = "form-group">
            <input type= "text" id="inputValue">
        </div>

    <button type = "submit" id= "search"> Search </button>

    </form>

</div>
