<h2>What are your favorite genre of movies?</h2>
    <ul>
        <li> Romance </li>
        <li> Action </li>
        <li> Drama </li>
        <li> Comedy </li>
        <li> Sci-Fi </li>
        <li> Documentary </li>
        <li> Anime </li>
    </ul>