#search {
    color: white;
    background: teal;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    border: 2px black solid;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    padding: 2%;
}



input {
    border: 10px black solid;
}