/* Styling for Movies section */

body {
    background-image: url("../images/background.jpg");
}

#search {
    color: white;
    background: teal;
}

#movie-search {
    margin-top: 25px;
}

h1 {
    color: teal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color:yellowgreen
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;

}

section img {
    width: 250px;
}

img:hover {
    transform: scale(1.5);
    transition: 0.4s;
    cursor: pointer;
    margin-left: 0 50px;
}

.content {
    border: 1px solid maroon;
    height: 200px;
    display: none;

}
.content-display {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    border: 2px black solid;
    color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    padding: 2%;
}



input {
    border: 10px black solid;
}


.preference-select {
    color: white;
}