/* Styling for Movies section */

.container {
    background-color: black;
    background-size: 100% 100%
}

body {
    background-color: black;
    
}


#search {
    color: white;
    background: teal;
}

#movie-search {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.movie{
    margin-bottom: 0px
}

h1 {
    color: teal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;

}

section img {
    width: 250px;
}

img:hover {
    transform: scale(1.5);
    transition: 0.4s;
    cursor: pointer;
    margin-left: 0 50px;
}

.content {
    margin: 10px;
    align-items: center;
    display: none;
    flex-wrap: wrap;


}

.content div {
    display: flex;
    justify-content: space-around;
}

.content-display {
    display: block;
}


header {
    border: 2px black solid;
    background-size:cover;
    color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 36px;
    padding: 2%;
}



input {
    border: 3px black solid;
}


.preference-select {
    color: white;
}

